a.out
.*.swp

# don't include any reports
crash-*
slow-*

# don't include the fuzzer the README tells people to build
libFuzzer.a
Fuzzer

# ignore all corpus but the sample 
jpegload_corpus/*
!jpegload_corpus/sample.jpg

pngload_corpus/*
!pngload_corpus/sample.png

tiffload_corpus/*
!tiffload_corpus/sample.tif
